#### Contents of the preconfiguration file (for buster)
# 
# The configuration fragments used in this file are also available as an
# example preconfiguration file from:
# https://www.debian.org/releases/buster/example-preseed.txt
# 
# Some more preseed files that contain the full list of available preseed
# options:
# https://preseed.debian.net/debian-preseed/

# More about preseeding: https://wiki.debian.org/DebianInstaller/Preseed

### Localization
d-i debian-installer/locale string en_US.UTF-8

# Keyboard selection
d-i keyboard-configuration/xkb-keymap select fi

### Network configuration

# netcfg will choose an interface that has link if possible. This makes it
# skip displaying a list if there is more than one interface.
d-i netcfg/choose_interface select auto

# Any hostname and domain names assigned from dhcp take precedence over
# values set here. However, setting the values still prevents the questions
# from being shown, even if values come from dhcp.
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain

# Disable that annoying WEP key dialog.
d-i netcfg/wireless_wep string

### Mirror settings

# If you select ftp, the mirror/country string does not need to be set.
#d-i mirror/protocol string ftp
d-i mirror/country string Finland
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Account setup

# Skip creation of a normal user account.
d-i passwd/make-user boolean false

# Root password
d-i passwd/root-password password packer
d-i passwd/root-password-again password packer

### Clock and time zone setup

# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean true

# You may set this to any valid setting for $TZ; see the contents of
# /usr/share/zoneinfo/ for valid values.
d-i time/zone string Europe/Helsinki

# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true

### Partitioning

# Use the usual partition types for your architecture
d-i partman-auto/method string regular

# You can define the amount of space that will be used for the LVM volume
# group. It can either be a size with its unit (eg. 20 GB), a percentage of
# free space or the 'max' keyword.
d-i partman-auto/guided_size string max

# You can choose one of the three predefined partitioning recipes:
# - atomic: all files in one partition
# - home:   separate /home partition
# - multi:  separate /home, /var, and /tmp partitions
d-i partman-auto/choose_recipe select atomic

# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Package selection
tasksel tasksel/first multiselect standard, ssh-server

# Individual additional packages to install (space separated).
# qemu-guest-agent must be installed for the packer proxmox builder to
# work or else the build will fail.
d-i pkgsel/include string qemu-guest-agent cloud-init

# Some versions of the installer can report back on what software you have
# installed, and what software you use. The default is not to report back,
# but sending reports helps the project determine what software is most
# popular and include it on CDs.
popularity-contest popularity-contest/participate boolean false

### Boot loader installation

# This is fairly safe to set, it makes grub install automatically to the MBR
# if no other operating system is detected on the machine.
d-i grub-installer/only_debian boolean true

# To install to the first device (assuming it is not a USB stick):
d-i grub-installer/bootdev  string default

### Finishing up the installation

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

# Configure SSH
d-i preseed/late_command string in-target sed -e 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' -i /etc/ssh/sshd_config